body {
    margin: 0;
    padding: 0;
    font-family: songti, Arial;
}

a{text-decoration:none;outline: none;border:none}
img{border:none}

.hide{
    display:none;
}

#header {
    width: 100%;
    min-width: 960px;
    float: left;
    margin-bottom:25px;
}

#header .menu {
    height: 54px;
    float: left;
    width: 100%;
    background: #AA0D37;
    line-height:54px;
    font-size:14px;
}

#header .menu .menu-wrapper{
    width: 960px;
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
}

#header .menu a {
    color: #FFF
}


#header .menu .menu-item {
    list-style-type: none;
    float: left;
    line-height: 54px;
    padding:0 10px;
    border-right:1px solid #FFFFFF;
}

#header .menu .menu-item:last-child {
    border-right:none
}

#header .header-top {
    height: 117px;
}

a {
    text-decoration: none;
    color: #111111
}

#footer {
    width: 100%;
    float: left;
    background: #333333;
    color: #FFF;
    min-width: 1000px;
    margin-top:25px;
}

.links {
    width: 50%;
    float: left;
    padding: 20px 0;
}

.contact-us {
    width: 40%;
    float: left;
    padding: 20px 5%;
}

.copyright {
    text-align: center;
    width: 100%;
    clear: both;
    padding:10px 0;
    border-top:1px solid #AA0D37;
    font-size:10px;
    color:#949494

}

#footer .links-name {
    font-size: 14px;
    color:#BFBFBF;

}

#footer .column {
    float: left;
    width: 50%;
}

#footer .column a {
    display: block;
    margin: 5px 0;
    font-size: 12px;
    color: #949494
}

#main-container {
    width: 100%;
    float: left;
}

.content{
    width:960px;
    margin:0 auto;
}

.index-top {
    height: 367px;
    width: 100%;
    margin-bottom: 10px;
}

.index-bottom {
    height: 365px;
    width: 100%;
}

.index-top .img-area {
    width: 686px;
    float: left;
    margin-right: 10px;
    position:relative;
}

.index-top .intro-area {
    width: 242px;
    border: 1px solid #BABABA;
    float: left;
    padding: 10px;
    background: url(../img/photo4.jpg) no-repeat 0px 0px;
}

.block {
    width: 220px;
    float: left;
    margin-right: 10px;
    height: 365px;
}

.block:last-child {
    margin-right: 0px;
}

.block-title {
    color: #AA0D37;
    border-bottom: 1px solid #666666;
    margin: 0;
    padding: 10px 0;
}

.block-bar .block-title {
    padding: 9.5px 10px;
    color: #C71041;
    border-bottom: 1px solid #C71041;
}

.block-item {
    padding: 9.8px 10px;
    border-bottom: 1px solid #B7B7B7;
    color: #666666;
    margin: 0;
    cursor:pointer;
    font-size:10px;
}

.block-bar a .block-item:hover{
    background:#C71041;
    color:#FFFFFF !important;
}


.index-bottom .block-img-area {
    height: 177px;
    width: 100%;
    position: relative;
    cursor: pointer;
}
.index-bottom .block-img-area .overlay{
    position:absolute;
    top:38px;
    bottom:0;
    left:0;
    right:0;
}
.index-bottom .block-img-area .overlay .overlay-content{
    background: #111111;
    background: rgba(1,1,1,0.5);
    filter: alpha(opacity=50);
    color:#FFFFFF;
    *zoom:1;
    position:static;
    float:left;
    width:210px;
    height:129px;
    font-size:10px;
    padding:5px;
}
.index-bottom .block-img-area .overlay .overlay-content span{
    position:relative;
}

.index-bottom .block-img-area.big {
    height: 365px;
    width: 263px;
}

.index-bottom .block-img-area .title {
    height: 38px;
    width: 100%;
    position: absolute;
    background: #111111;
    filter: alpha(opacity=50);
    opacity: 0.5
}

.index-bottom .block-img-area .name {
    position: absolute;
    top: 20px;
    left: 5px;
    color: #FFFFFF;
    font-size: 12px;
    opacity: 1;
    filter: alpha(opacity=100)
}
.bxslider{
    margin:0
}
.bx-pager{
    position:absolute;
    bottom:0;
}
.bx-pager a{
    font-size:12px;
    float:left;
    width:137px;
    height:53px;
    background: red;
    line-height:53px;
    text-align: center;
    background: #111111;
    background: rgba(1,1,1,0.5);
    filter: alpha(opacity=50);
    color:#FFFFFF;
    *zoom:1;
    position:static;
}
.bx-pager a.active{
    background:#C71041;
    filter:alpha(opacity=100);
    *zoom:1;
}
.bx-pager a span{
    position:relative;
}

.detail {
    width: 684px;
    float: left;
    margin-right: 10px;
    border: 1px solid #E5E5E5;
    padding:10px;
}

.detail-content{
    width:642px;
    float:left;
    padding:10px;
}

.detail-wrapper{
    background:#E5E5E5;
    padding:10px;
    float:left;
}

.nav-name{
    font-size:14px;
    color:#666666;
    margin-bottom:5px;
    margin-left:10px;
    margin-top:-5px;
}

.detail-nav{
    width:100%;
    float:left;

}
.detail-nav .detail-nav-item{
    float:left;
    word-wrap:break-word;overflow:hidden;
    text-align:center;
    line-height:40px;
    margin-top:25px;
    border-top:1px solid #C71041;
    border-bottom:1px solid #C71041;

}
.detail-nav-item a{
    border-right:1px solid #111111;
    padding:0 20px;
    color:#666666;
}


.banner{
    width:100%;
    height:38px;
    line-height: 38px;
    color:#FFFFFF;
    font-size:18px;
    text-align:right;
    background-repeat: no-repeat;
    background-position: right;
    float:right;
    position:relative;
    float:left;
}
.banner-img{
    width:100%;
    float:left;
    text-align: right;
}
.campus-name{
    color:#C71041;border-bottom:1px solid #C71041;font-size:16px;height:30px;line-height: 30px;width:100%;float:left;margin-top:0;text-indent:10px;
}
.campus-detail-area{
    width:662px;
    float:left;
    margin-bottom:25px;
    padding:10px;
}
.campus-title{
    float:left;
    width:100%;
    line-height:30px;
    height:30px;
    background:#C71041;
    color:#FFFFFF;
    text-indent: 10px;
}
.campus-content{
    width:642px;
    padding:10px;
    float:left;
}
.country-pin{
    position:absolute;
    top:40px;
}

.header-wrapper {
    margin: 0 auto;
    width: 960px;
    padding-top: 20px;
    height: 97px;
    position: relative;
}
.dropdown-menu{
    position:absolute;
    top:171px;
    left:0;
    right:0;
    z-index: 9999;
}
.dropdown-menu-inner-wrapper{
    width:940px;
    margin:0 auto;
    background:#E5E5E5;
    height:178px;
    padding:10px;
}
.dropdown-menu-content-wrapper{
    float:left;
    position:relative;

}
.dropdown-menu-content-wrapper.middle{
    padding:0 10px;width:504px;height:171px;
}
.dropdown-menu-content-wrapper.middle .menu-absract{
    position:absolute;bottom:0;left:10px;right:10px;line-height:20px;text-align: left;color:#666666
}
.dropdown-menu-content-wrapper .article{
    float:left;
    width:100%;
    height:29px;
    line-height: 29px;
    text-decoration: none;
    text-align: left;
}
.dropdown-menu-content-wrapper ul{
    list-style-position:inside;
    list-style-type: disc;
    margin:0;
    padding:0;
}
.dropdown-menu-content-wrapper .article a{
    color:#666666 !important;
    font-weight: 700;
}