#set($layout="layout/web-default-en.vm")
#set($cPath = "#cPath")
<style>
    .detail{
        border:transparent;
    }

</style>
<div class="content en">
    <div class="campus detail">
        <div class="banner" style="background-image:url($cPath/resources/img/T-${country}.png);">
            <span style="margin-right:10px;">$!detail.getCountryName()</span>
            <img src="$cPath/resources/img/${country}.png" style="position:absolute;left:-14px;bottom:-30px;">
        </div>
        <div class="banner-img" style="margin-top:4px;">
            <img src="$!detail.getImg()">
        </div>
        <p class="campus-name">$!detail.getTitle()</p>
        <div class="campus-detail-area">
            <div class="campus-title">School Profile</div>
            <div class="campus-content">
                $!detail.getProfile()
            </div>
        </div>
        <div class="campus-detail-area">
            <div class="campus-title">School Facts</div>
            <div class="campus-content">
                $!detail.getFacts()
            </div>
        </div>
        <div class="campus-detail-area">
            <div class="campus-title">Curriculum</div>
            <div class="campus-content">
                $!detail.getCurriculum()
            </div>
        </div>
        <div class="banner-img">
            <img src="$cPath/resources/img/tu1.jpg">
        </div>
        #parse("/layout/country.vm")
    </div>
    <div class="block block-bar" style="float:left;background: #E5E5E5;width:227px;">
        #parse("/layout/sidebarEN.vm")
    </div>


</div>
<script>

    $(document).ready(function () {

    });
</script>