#set($layout="layout/web-default-en.vm")
#set($cPath = "#cPath")
<style>
    .block-item{
        padding:9px 10px;
    }
</style>
<div class="content">

    <div class="index-top">
        <div class="img-area" style="height:366px;">
            <ul class="bxslider">
                <li><img src="$cPath/resources/img/index-1.jpg"></li>
                <li><img src="$cPath/resources/img/index-1.jpg"></li>
                <li><img src="$cPath/resources/img/index-1.jpg"></li>
                <li><img src="$cPath/resources/img/index-1.jpg"></li>
                <li><img src="$cPath/resources/img/index-1.jpg"></li>
            </ul>
            <div class="bx-pager">
                <a data-slide-index="0" href=""><span style="display:block;line-height:14px;margin-top:13px;">ALL YEAR ROUND</br> GROUPS</span></a>
                <a data-slide-index="1" href=""><span>SUMMER CAMPS</span></a>
                <a data-slide-index="2" href="">
                    <span style="display:block;line-height:14px;margin-top:13px;">
                        Tailor Made Education</br>
                        Packages for Groups
                    </span>
                </a>
                <a data-slide-index="3" href=""><span style="display:block;line-height:14px;margin-top:13px;">My Choice High</br> School Programs</span></a>
                <a data-slide-index="4" href=""><span>Agents Zone</span></a>
            </div>
        </div>
        <div class="intro-area" style="height:344px;">
            <p class="block-title" style="border-bottom:none">I Dear Parents</p>

            <p style="word-wrap:break-word;overflow:hidden;">Welcome to
                Xploarel;kajsldfkjslaksjdsla;fslfsaljfsajklfsakljfsajklsalkjfsafkslafjksl;fdsjaklfkjsafjsal</p>
        </div>
    </div>

    <div class="index-bottom">
        <div class="block block-bar" style="background: #E5E5E5;width:227px;">
            #parse("/layout/sidebarEN.vm")
        </div>
        <div class="block">
            <div class="block-img-area"  data-ref="0" style="margin-bottom:10px;">
                <div class="title"></div>
                <span class="name">ALL YEAR ROUND GROUPS</span>
                <img src="$cPath/resources/img/index-small-3.jpg">
                <div class="overlay hide"><div class="overlay-content"><span>ALL YEAR ROUND GROUPS</span></div></div>
            </div>
            <div class="block-img-area"  data-ref="2" style="margin-bottom:10px;">
                <div class="title"></div>
                <span class="name" style="top:5px">TAILOR MADE EDUCATION </br>PACKAGES FOR GROUPS</span>
                <img src="$cPath/resources/img/index-small-3.jpg">
                <div class="overlay hide"><div class="overlay-content"><span>SUMMER CAMPS</span></div></div>
            </div>
        </div>
        <div class="block">
            <div class="block-img-area"  data-ref="1" style="margin-bottom:10px;">
                <div class="title"></div>
                <span class="name">SUMMER CAMPS</span>
                <img src="$cPath/resources/img/index-small-3.jpg">
                <div class="overlay hide"><div class="overlay-content"><span>2343232423</span></div></div>
            </div>
            <div class="block-img-area"  data-ref="4" style="margin-bottom:10px;">
                <div class="title"></div>
                <span class="name">AGENTS ZONE</span>
                <img src="$cPath/resources/img/index-small-3.jpg">
                <div class="overlay hide"><div class="overlay-content"><span>2343232423</span></div></div>
            </div>
        </div>
        <div class="block">
            <div class="block-img-area big" data-ref="3" >
                <div class="title"></div>
                <span class="name">MY CHOICE HIGH SCHOLL PROGRAMS</span>
                <img src="$cPath/resources/img/index-bottom-right.jpg"></div>
        </div>


    </div>
</div>
<script type="text/javascript" src="$cPath/resources/js/index.js"></script>