#set($layout="layout/web-default.vm")
#set($cPath = "#cPath")
<style>
</style>
<div class="content">

    <div class="index-top">
        <div class="img-area" style="height:366px;">
            <ul class="bxslider">
                <li><img src="$cPath/resources/img/index-1.jpg"></li>
                <li><img src="$cPath/resources/img/index-1.jpg"></li>
                <li><img src="$cPath/resources/img/index-1.jpg"></li>
                <li><img src="$cPath/resources/img/index-1.jpg"></li>
                <li><img src="$cPath/resources/img/index-1.jpg"></li>
            </ul>
            <div class="bx-pager">
                <a data-slide-index="0" href=""><span>234</span></a>
                <a data-slide-index="1" href=""><span>2341</span></a>
                <a data-slide-index="2" href=""><span>2344</span></a>
                <a data-slide-index="3" href=""><span>23425</span></a>
                <a data-slide-index="4" href=""><span>232344</span></a>
            </div>
        </div>
        <div class="intro-area" style="height:344px;">
            <p class="block-title" style="border-bottom:none">I Dear Parents</p>

            <p style="word-wrap:break-word;overflow:hidden;">Welcome to
                Xploarel;kajsldfkjslaksjdsla;fslfsaljfsajklfsakljfsajklsalkjfsafkslafjksl;fdsjaklfkjsafjsal</p>
        </div>
    </div>

    <div class="index-bottom">
        <div class="block block-bar" style="background: #E5E5E5;width:227px;">
            #parse("/layout/sidebarEN.vm")
        </div>
        <div class="block">
            <div class="block-img-area" style="margin-bottom:10px;">
                <div class="title"></div>
                <span class="name">lasdjfslka</span>
                <img src="$cPath/resources/img/index-small-3.jpg">
                <div class="overlay hide"><div class="overlay-content"><span>2343232423</span></div></div>
            </div>
            <div class="block-img-area" style="margin-bottom:10px;">
                <div class="title"></div>
                <span class="name">lasdjfslka</span>
                <img src="$cPath/resources/img/index-small-3.jpg">
                <div class="overlay hide"><div class="overlay-content"><span>2343232423</span></div></div>
            </div>
        </div>
        <div class="block">
            <div class="block-img-area" style="margin-bottom:10px;">
                <div class="title"></div>
                <span class="name">lasdjfslka</span>
                <img src="$cPath/resources/img/index-small-3.jpg">
                <div class="overlay hide"><div class="overlay-content"><span>2343232423</span></div></div>
            </div>
            <div class="block-img-area" style="margin-bottom:10px;">
                <div class="title"></div>
                <span class="name">lasdjfslka</span>
                <img src="$cPath/resources/img/index-small-3.jpg">
                <div class="overlay hide"><div class="overlay-content"><span>2343232423</span></div></div>
            </div>
        </div>
        <div class="block">
            <div class="block-img-area big">
                <div class="title"></div>
                <span class="name">234242432</span>
                <img src="$cPath/resources/img/index-bottom-right.jpg"></div>
        </div>


    </div>
</div>
<script type="text/javascript" src="$cPath/resources/js/index.js"></script>