#set($layout="layout/web-default-en.vm")
#set($cPath = "#cPath")
<style>
    #header .menu .menu-item{
        padding:0 20px;
        font-size:12px;
        font-weight:700;
    }
</style>
<div class="content en">

    <div class="index-top">
        <div class="img-area" style="height:366px;">
            <ul class="bxslider">
                <li><img src="$cPath/resources/img/index-1.jpg"></li>
                <li><img src="$cPath/resources/img/index-1.jpg"></li>
                <li><img src="$cPath/resources/img/index-1.jpg"></li>
                <li><img src="$cPath/resources/img/index-1.jpg"></li>
                <li><img src="$cPath/resources/img/index-1.jpg"></li>
            </ul>
            <div class="bx-pager">
                <a data-slide-index="0" href=""><span style="display:block;line-height:14px;margin-top:13px;">Language &</br> Activity Camps</span></a>
                <a data-slide-index="1" href=""><span style="display:block;line-height:14px;margin-top:13px;">
                        Tailor Made Education</br>
                    Packages for Groups
                    </span>
                </a>
                <a data-slide-index="2" href=""><span style="display:block;line-height:14px;margin-top:13px;">My Choice High</br> School Programs</span></a>
                <a data-slide-index="3" href="">
                    <span>Agents Zone</span>
                </a>
                <a data-slide-index="4" href=""><span>About Xplore</span></a>
            </div>
        </div>
        <div class="intro-area" style="height:344px;">
            <p class="block-title" style="border-bottom:none">Dear Parents</p>

            <p style="word-wrap:break-word;overflow:hidden;font-size:12px;">

                Wecome to Xplore,a youth travel provider experienced and dedicated in organising fun-packed, interactive language activity programs in a safe in a safe and enjoyable environment.</br>

                At Xplore we pride ourselves in our flexible and dedicated group travel service, creating and inspiring opportunities for young people to discover, From schools looking for class based education and culture tours to agents requiring a variety of travel packages, cultural and learning experience!</br>

                We look forward to welcoming your child in the very near future!</br>

                Beat  wishes,</br>

                <span style="float:right;">Xplore Team</span>


            </p>
        </div>
    </div>

    <div class="index-bottom">
        <div class="block block-bar" style="background: #E5E5E5;width:227px;">
            #parse("/layout/sidebarEN.vm")
        </div>
        <div class="block">
            <div class="block-img-area"  data-ref="0" style="margin-bottom:10px;">
                <div class="title"></div>
                <span class="name">ALL YEAR ROUND GROUPS</span>
                <img src="$cPath/resources/img/index-small-3.jpg">
                <div class="overlay hide"><div class="overlay-content"><div style="position:absolute;right:10px;bottom:4px;color:#FFFFFF">more></div><span>Xplore Language offers language, activity and culture programmes to all students aged between 6 and 18 years. These internationally ‘integrated’ camps are designed specifically to provide an enhanced learning and cultural experience for students from all over ...</span></div></div>
            </div>
            <div class="block-img-area"  data-ref="2" style="margin-bottom:10px;">
                <div class="title"></div>
                <span class="name" style="top:5px">TAILOR MADE EDUCATION </br>PACKAGES FOR GROUPS</span>
                <img src="$cPath/resources/img/index-small-3.jpg">
                <div class="overlay hide"><div class="overlay-content"><div style="position:absolute;right:10px;bottom:4px;color:#FFFFFF">more></div><span>At Xplore we pride ourselves in our flexible and dedicated group travel service, creating and inspiring opportunities for young people to discover, learn and share. Using our knowledge and experience we work alongside clients to design itineraries suited to their ...</span></div></div>
            </div>
        </div>
        <div class="block">
            <div class="block-img-area"  data-ref="1" style="margin-bottom:10px;">
                <div class="title"></div>
                <span class="name">SUMMER CAMPS</span>
                <img src="$cPath/resources/img/index-small-3.jpg">
                <div class="overlay hide"><div class="overlay-content"><div style="position:absolute;right:10px;bottom:4px;color:#FFFFFF">more></div><span>Xplore Language offers language, activity and culture programmes to all students aged between 6 and 18 years. These internationally ‘integrated’ camps are designed specifically to provide an enhanced learning and cultural experience for students from all over ...</span></div></div>
            </div>
            <div class="block-img-area"  data-ref="4" style="margin-bottom:10px;">
                <div class="title"></div>
                <span class="name">AGENTS ZONE</span>
                <img src="$cPath/resources/img/index-small-3.jpg">
                <div class="overlay hide"><div class="overlay-content"><div style="position:absolute;right:10px;bottom:4px;color:#FFFFFF">more></div><span>At Xplore we are always looking to expand and develop new programmes and are keen to build new partnerships within our industry. We hope this brochure inspires you to get in contact with us as we would very much like to hear from you to discuss ...</span></div></div>
            </div>
        </div>
        <div class="block">
            <div class="block-img-area big" data-ref="3" >
                <div class="title"></div>
                <span class="name">MY CHOICE HIGH SCHOLL PROGRAMS</span>
                <img src="$cPath/resources/img/index-bottom-right.jpg">
                <div class="overlay hide"><div class="overlay-content" style="width:253px;height:317px;"><div style="position:absolute;right:10px;bottom:4px;color:#FFFFFF">more></div><span>Xplore “MyChoice” represents our high school division, offering global partners long-term study placements for students wishing to study in England and the USA (F1). Our dedicated in-house guardianship teams provide first-rate service ensuring the very best educational and cultural study experiences.</span></div></div>
            </div>
        </div>


    </div>
</div>
<script type="text/javascript" src="$cPath/resources/js/index.js"></script>