<div style="float:left;width:100%;"><img style="float:right;margin-bottom:15px;" src="$countryImg"></div>


#if($campusList.size() > 0)

    #set($max = $campusList.size() - 1)

    #set($qty = $campusList.size()/10)

    #set($remain = $campusList.size()%10)

    #foreach($i in [0 .. $qty])

        #set($start = $i*10)
        #set($cur = $velocityCount - 1)

        #if($i == $qty)
            #set($end = $remain + $start - 1)
        #else
            #set($end = $start + 10 - 1)
        #end

    <ul class="campus-list" style="float:left;width:332px;margin-bottom:40px;border-top:1px solid #C71041;">
        #foreach($i in [$start .. $end])
            <li style="width:327px;"><a href="$cPath/$lan/campus/china/$campusList.get($i).getId()">$campusList.get($i).getTitle()<i class="line" style="width:332px;"></i></a></li>
        #end
    </ul>

    #end

#end