<ul class="campus-list" style="float:left;width:341px;" >
    #foreach($campus in $campusList)
        <li><a href="$cPath/web/en/campus/england/$campus.getId()">$!campus.getTitle()<i class="line"></i></a></li>
    #end
</ul>
<div style="float:left;width:50%;"><img style="float:right" src="$cPath/resources/img/xditu.jpg"></div>