<div class="banner-img" style="margin-top:25px;position: relative">
    <img src="$cPath/resources/img/xuanzeback.png">
    <a href="$cPath/web/$lan/campus/$country"><img class="country-pin" src="$cPath/resources/img/UK.png" style="left:30px;"></a>
    <a href="$cPath/web/$lan/campus/$country"><img class="country-pin" src="$cPath/resources/img/US.png" style="left:200px;"></a>
    <a href="$cPath/web/$lan/campus/$country"><img class="country-pin" src="$cPath/resources/img/DG.png" style="left:370px;"></a>
    <a href="$cPath/web/$lan/campus/$country"><img class="country-pin" src="$cPath/resources/img/CA.png" style="left:546px;"></a>
</div>