<div class="banner-img" style="margin-top:25px;position: relative">
    <img src="$cPath/resources/img/xuanzeback.png">
    <a href="$cPath/$lan/campus/england"><img class="country-pin" src="$cPath/resources/img/england.png" style="left:60px;"></a>
    <a href="$cPath/$lan/campus/america"><img class="country-pin" src="$cPath/resources/img/america.png" style="left:294px;"></a>
##    <a href="$cPath/$lan/campus/germany"><img class="country-pin" src="$cPath/resources/img/DG.png" style="left:370px;"></a>
    <a href="$cPath/$lan/campus/china"><img class="country-pin" src="$cPath/resources/img/china.png" style="left:516px;"></a>
</div>