<p class="block-title">在线预定</p>

<a href="$cPath/web/$lan/bookingOnline"><p class="block-item">常年群体／夏令营</p></a>

<a href="$cPath/web/$lan/bookingOnline"><p class="block-item">量身定制</p></a>
<a href="$cPath/web/$lan/bookingOnline"><p class="block-item">选择高校</p></a>
<a href="$cPath/web/$lan/bookingOnline"><p class="block-item">代理专区</p></a>

<p class="block-title" style="margin-top:10px">关于Xplore</p>
#foreach($plate in $plateRecent6)
<a href="$cPath/web/cn/articles/$plate.getId()"><p class="block-item">$plate.getTitle()</p></a>
#end
