<p class="block-title">Booking Online</p>

<a href=""><p class="block-item">Booking Online</p></a>

<a href=""><p class="block-item">Language & Activity Camps</p></a>
<a href=""><p class="block-item">Tailor Made Education Packages for Groups</p></a>
<a href=""><p class="block-item">My choice High School Programs</p></a>
<a href=""><p class="block-item">Agents Zone</p></a>

<p class="block-title" style="margin-top:10px">About Xplore</p>

<a href=""><p class="block-item">Xplore History</p></a>
<a href=""><p class="block-item">Xplore Team</p></a>
<a href=""><p class="block-item">Xplore Offices</p></a>
<a href=""><p class="block-item">Xplore Vision</p></a>