<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    #set($cPath = "#cPath")
    <link href="$cPath/resources/css/web.css" rel="stylesheet">
    <script type="text/javascript" src="$cPath/resources/js/common/jquery-1.7.2.min.js"></script>
<title>上海东晨市容清洁服务有限公司</title>
<link rel="shortcut icon" href="$cPath/resources/img/favicon.ico " type="image/x-icon">
    <!--[if lte IE 8]>
<style>

    body{
        font-family:songti, Arial;
    }

</style>
    <![endif]-->
    <!--[if lte IE 7]>
    <style>

        .links{width:39%}
        .contact-us{width:39%}
        .has-video-flag{margin-top:0px;}
        #bx-pager img {
            width: 103px;
            height: 63px;
            margin: 2px;
        }
        #bx-pager{
            margin-top:0
        }
        #culture-pager{
            bottom:30px
        }

        #main-container{
            margin-bottom:20px;
        }
        .pics-news .dc-more{
            line-height:18px;
        }
        .honor .scroller_roll{
            margin-top:34px;
            width:412px !important;
        }
        .honor .scroller_roll ul{
            width:824px !important;
        }
        .dc-list ul li{
            margin:5px 0;
            padding:0;
            float:none;
        }
        .honor .dc-more{
            margin-left:365px !important;
            position:relative !important;
        }
        .pics-news .pics-slider .picNews-background{
            bottom:0;
        }
    </style>
    <![endif]-->
    <script>

        var app = app || {};

        app.cPath = "$cPath";

        window.app = app;

    </script>
</head>
<body  onselectstart="return false">
<style>
    .ads-icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    #header .header-top {
        height: 117px;
        margin: 0 auto;
        width: 932px;
    }

    .company-icon, .search {
        float: left;
    }

    .company-icon {
        margin-top: 28px;

    }

    .search {
        margin-top: 66px;
        margin-left: 10px;
    }

    .bx-controls{
        position:absolute;
        top:120px;
        left:20px;
        right:20px;
    }
    .bx-prev{
        float:left;
    }
    .bx-next{
        float:right;
    }
    .bx-pager-item{
        float:left;
        width:16px;
        height:15px;
        text-align:center;
        margin-right:5px;
        line-height:15px;
    }

    .bx-has-pager{
        bottom: 35px;
        right: 5px;
        top: auto;
        left: auto;
        background:#FFF;
        z-index:999
    }
    .pager-selected{
        background:url($cPath/resources/img/pager.jpg);
    }


</style>
<div id="header">
    <div class="header-top">
        <div class="company-icon"><a href="$cPath"><img src="$cPath/resources/img/logo.png"></a></div>
        <div style="float:left;margin-left:190px;"><img src="$cPath/resources/img/wenzi.png" style="margin-top:28px">
        </div>

        <div class="ads-icon"><img src="$cPath/resources/img/toutu1.png"></div>
    </div>
    <style>
        .menu-hover{
            position:absolute;
            top:-1px;
            height:4px;
            left:0;
            right:0;
            background:#DA2C2C
        }
    </style>
    <div class="menu">
        <ul>
            <li class="menu-contact"><i class="menu-hover hide"></i><a href="$cPath/contact">联系我们</a></li>
            <li class="menu-suggestion"><i class="menu-hover hide"></i><a href="$cPath/suggestion">在线咨询</a></li>
            <li class="menu-jianshe"><i class="menu-hover hide"></i><a href="$cPath/jianshe">行业建设</a></li>
            <li class="menu-culture"><i class="menu-hover hide"></i><a href="$cPath/culture">企业文化</a></li>
            <li class="menu-picNews"><i class="menu-hover hide"></i><a href="$cPath/picNews">图片新闻</a></li>
            <li class="menu-service"><i class="menu-hover hide"></i><a href="$cPath/service">服务项目</a></li>
            <li class="menu-news"><i class="menu-hover hide"></i><a href="$cPath/news">公司动态</a></li>
            <li class="menu-achieve"><i class="menu-hover hide"></i><a href="$cPath/achieve">公司业绩</a></li>
            <li class="menu-intro"><i class="menu-hover hide"></i><a href="$cPath/intro">公司概况</a></li>
            <li class="menu-web"><i class="menu-hover hide"></i><a href="$cPath">网站首页</a></li>
        </ul>
    </div>
</div>
<div id="main-container">
    $screen_content
</div>
<div id="footer">
    <div class="links">
        <p class="links-name">友情链接</p>
        <div class="column">
            <a target="new" href="http://lhsr.sh.gov.cn">上海市绿化和市容管理局</a>
            <a target="new"  href="http://www.bssr.gov.cn/website/index.jsp">上海市宝山区绿化和市容管理局</a>
            <a target="new"  href="http://www.sshhg.org.cn/sites/hanghui/web/open_page.aspx">上海市市容环境行业工会</a>
        </div>
        <div class="column">
            <a target="new"  href="http://www.stacaes.com">上海市卫生协会设备专业委员会</a>
            <a target="new"  href="">上海市城市保洁管理处</a>
            <a target="new"  href="http://bsq.sh.gov.cn">上海市宝山区政府</a>
        </div>

    </div>
    <div class="contact-us">
        <p class="links-name">联系我们</p>

        <div class="column">
            <a href="">地址：上海市宝山区联丰路8号</a>
            <a href="">电话：(+86) 021-56782943</a>
            <a href="">E-mail：dongchen@18567.cn</a>
        </div>
        <div class="column">
            <div style="float:left"><img src="$cPath/resources/img/weixin.png"></div>
            <div style="margin-left: 10px;float: left;line-height: 20px;margin-top: 42px;">
                扫 一 扫
                <br/>
                关&nbsp;&nbsp;&nbsp;&nbsp;注
                <br/>
                东晨微平台
            </div>
        </div>
    </div>
    <div class="copyright">上海东晨市容清洁服务有限公司 版权所有</div>
</div>
<div class="dangfeng-banner" style="position:fixed;right:0;top:30%"><a href="$cPath/party"><img src="$cPath/resources/img/dangfeng.png"></a></div>
</body>
<script type="text/javascript" src="$cPath/resources/js/common/jquery.twbsPagination.min.js"></script>
<script type="text/javascript" src="$cPath/resources/js/common/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="$cPath/resources/js/common/scroller_roll.js"></script>
<script>

    $(document).ready(function () {

        var d = new Date();
        var str = d.getFullYear()+"年"+(d.getMonth()+1)+"月"+d.getDate() + "日";
        $(".dc-date").text(str);


        var json = {
            "achieve": "公司业绩",
            "news": "公司动态",
            "picNews": "图片新闻",
            "slider": "轮播图",
            "videos": "公司视角",
            "service": "服务项目",
            "culture": "企业文化",
            "jianshe": "行业建设",
            "suggestion": "在线咨询",
            "honor": "公司荣誉"
        };


        var curMenu = window.location.href.replace(window.app.cPath + "/", "");

	if(curMenu == ""){

		$(".menu-web").find(".menu-hover").removeClass("hide");	
	
	}


        var qIdx = curMenu.indexOf("?");

        if (qIdx > 0) {
            curMenu = curMenu.substring(0, qIdx);
        }

        var idx = curMenu.indexOf("/");

        if (idx > 0) {
            curMenu = curMenu.substring(0, idx);

        }

        var idx = curMenu.indexOf(";jsessionid");

        if (idx > 0) {
            curMenu = curMenu.substring(0, idx);

        }


        $(".menu li").hover(function(){
//            $(".menu li").find(".menu-hover").r
            $(this).find(".menu-hover").removeClass("hide");
        }, function(){

            if($(this).attr("class") == "menu-"+curMenu){
                return false;
            }

            $(this).find(".menu-hover").addClass("hide");
        })

        $(".menu-"+curMenu).find(".menu-hover").removeClass("hide");


        var title = json[curMenu];
        if (title) {
            $(".dc-list-header .dc-list-title").text(json[curMenu]);
        }

        #if($!domainList && $!domainList.getTotalPages() > 0)

            var search = "$!searchStr";

            var linkHref = window.app.cPath + "/" + curMenu + "?p={{number}}";

            if(search){

                linkHref = linkHref + "&s=" + search;

            }

            $('.pagination').twbsPagination({
                totalPages: $domainList.getTotalPages(),
                visiblePages: 7,
                startPage: $domainList.getPageNo(),
                hrefVariable: "{{number}}",
                first: "",
                last: "",
                prev: "<img src='../resources/img/left-16.png'>",
                next: "<img src='../resources/img/right-16.png'>",
                href: linkHref,
                onPageClick: function (event, page) {
                }
            });

            var paginationWidth = $(".pagination").width()/2;

            var pageWidth = 625/2;
            if(curMenu == "videos"){
                pageWidth = 932/2;
            }

            var marginLeft = pageWidth - paginationWidth;

            $(".paging-content").css("margin-left", marginLeft);


        #end

        #if($!sliderRecent && $!sliderRecent.size() > 0)

            var options1 = {

                controls:false,
                pager:true,
                auto: true,
                pagerCustom: '#bx-pager'

            };

            $(".pics-slider").bxSlider(options1);

        #end


        #if($!cultureRecent && $!cultureRecent.size() > 0)

            var options = {

                controls: false,
                pager: true,
                auto: true,
                mode : "fade",
                pagerCustom : "#culture-pager"
            }

            $('.culture-slider').bxSlider(options);

        #end

        #if($!honorRecent && $!honorRecent.size() > 0)


            $("#scroller_roll").scroller_roll({
                time_interval: '15',
                window_padding: '1',
                border_size: '0',
                images_width: '194',
                images_height: '151',
                images_margin: '12',
                title_size: '12',
                title_color: 'black',
                show_count: '2',
                title_show: 'enable'
            });

        #end

        if(curMenu == "videos" || curMenu == ""){

            $(".video-close").click(function(){
                $(".video-iframe iframe").remove();
                $(".video-iframe-wrapper").addClass("hide");
            })

            $(".avideo").hover(function(){
                $(this).find(".play").removeClass("hide");
            },function(){
                $(this).find(".play").addClass("hide");
            })



            $(".avideo .play").click(function(){

                var w = $(this).parent();

                $(".video-iframe").load("../resources/iframe", function(){

                    var videoLink = w.find(".video-link").text();

                    $("iframe").attr("src", videoLink);

                    $(".video-iframe-wrapper").toggleClass("hide");

                });

            })

        }

        $(".service-item-list li").click(function(){

            window.location.href = "$cPath/service?id=" + $(this).attr("data-target");

        })

        if(curMenu == "suggestion"){

            $("#suggestionButton").click(function(){

                var ok = true;

                $("#suggestionSubmit input").each(function(){

                    if($(this).val() == ""){
                        alert("请补充完整您的信息");
                        ok=false;
                        return false;
                    }

                })

                if(!ok){
                    return false;
                }

                var textAreaVal = $("textarea").val();
                if(textAreaVal == ""){
                    alert("请补充完整您的信息");
                    return false;
                }

                $("#suggestionSubmit").submit();
            })

            $("#suggestionSubmit .reset").click(function(){

                $("#suggestionSubmit input").each(function(){

                    $(this).val("");

                })

                $("textarea").val("");

            });
        }


        findWeather();

        function findWeather() {
            var cityUrl = 'http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js';
            $.getScript(cityUrl, function(script, textStatus, jqXHR) {
                var citytq = remote_ip_info.city ;// 获取城市
                var url ="http://php.weather.sina.com.cn/iframe/index/w_cl.php?code=js&city="+ citytq +"&day=0&dfc=3";
                $.ajax({
                    url : url,
                    dataType :"script",
                    scriptCharset :"gbk",
                    success : function(data) {
                        var _w = window.SWther.w[citytq][0];
                        var _f= _w.f1+"_0.png";
                        if(new Date().getHours() > 17){
                            _f= _w.f2+"_1.png";
                        }
                        var img ="<img width='16px' height='16px' src='http://i2.sinaimg.cn/dy/main/weather/weatherplugin/wthIco/20_20/"+_f
                                +"' />";
                        var tq = citytq +""+ _w.s1 +""+ _w.t1 +"℃～"+ _w.t2 +"℃"+ _w.d1 + _w.p1 +"级";
                        $('#weather').html(tq);
                    }
                });
            });
        }



        function handleResize(){
            var dangfengWidth = ($(window).width()-$(".content").width())/2;
            var actualWidth = dangfengWidth - 32;
            $(".dangfeng-banner").css("right", actualWidth);
        }

        handleResize();

        $(window).resize(function() {
            handleResize();
        });



        $(document).bind("contextmenu",function(e){
            return false;
        });

    });
</script>
<!--[if lte IE 7]>
<script>
    $(document).ready(function () {

        $(".news .dc-list ul li:last").css("border-bottom", "none");
        $(".jianshe .dc-list ul li:last").css("border-bottom", "none");


    });


</script>
<![endif]-->
</html>
