<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    #set($cPath = "#cPath")
    <link href="$cPath/resources/css/web.css" rel="stylesheet">
    <script type="text/javascript" src="$cPath/resources/js/common/jquery-1.7.2.min.js"></script>
    <title>xplore</title>
    <link rel="shortcut icon" href="$cPath/resources/img/favicon.ico " type="image/x-icon">

    <script>

        var app = app || {};

        app.cPath = "$cPath";

        window.app = app;

    </script>
</head>
<body>
<style>

</style>
<div id="header">
    <div class="header-top">
        <div class="header-wrapper">
            <div style="position:absolute;right:0;top:20px;">
                <span style="float:left;font-size:12px;color:#838486;margin-top:2px;">选择一种语言</span>
                <img src="$cPath/resources/img/guojia-UK.jpg" style="margin-left:10px;">
                <img src="$cPath/resources/img/guojia-CN.jpg" style="margin-left:10px;">
            </div>
            <div style="position:absolute;right:0;bottom:10px;">
                <span style="float:left;font-size:14px;color:#838486;margin-top:1px;font-weight:700">+44 (0)1449 742700</span>
                <img src="$cPath/resources/img/SJ1.png" style="margin-left:10px;">
                <img src="$cPath/resources/img/SJ2.png" style="margin-left:10px;">
                <img src="$cPath/resources/img/SJ3.png" style="margin-left:10px;">
            </div>

            <a href="$cPath"><img src="$cPath/resources/img/logo.png"></a>
        </div>
        <div style="float:left;margin-left:190px;"></div>

        <div class="ads-icon"></div>
    </div>
    <div class="menu">
        <ul class="menu-wrapper">
            <li class="menu-item">
                <a href="javascript:void(0)">ALL YEAR ROUND GROUPS</a>
                <div class="dropdown-menu hide">
                    <div class="dropdown-menu-inner-wrapper">
                        <div class="dropdown-menu-content-wrapper" style="width:196px;">
                            <ul>
                                #foreach($plate in $plateRecent1)
			                        <li class="article" data-target="$!plate.getId()"><a href="$cPath/web/en/articles/$plate.getId()">$plate.getTitle()</a></li>
			                    #end
                            </ul>
                        </div>
                        <div class="dropdown-menu-content-wrapper middle">
                            <div class="menu-absract" style="">
                                lafslkjflsdsjdfsjaklfsdaljkfsdkfdsakfdsfjsa<br/>
                                sasjklfsjfslfjsafa<br/>
                                ssajfklsafjslfsjalskfsdjf
                            </div>
                        </div>
                        <div class="dropdown-menu-content-wrapper">
                            <img src="$cPath/resources/img/index-small-3.jpg">
                        </div>
                    </div>
                </div>
            </li>
            <li class="menu-item">
                <a href="javascript:void(0)">SUMMER CAMPS</a>
                <div class="dropdown-menu hide">
                    <div class="dropdown-menu-inner-wrapper">
                        <div class="dropdown-menu-content-wrapper" style="width:196px;">
                            <ul>
                                #foreach($plate in $plateRecent2)
			                        <li class="article" data-target="$!plate.getId()"><a href="$cPath/web/en/articles/$plate.getId()">$plate.getTitle()</a></li>
			                    #end
                            </ul>
                        </div>
                        <div class="dropdown-menu-content-wrapper middle">
                            <div class="menu-absract" style="">
                                11lafslkjflsdsjdfsjaklfsdaljkfsdkfdsakfdsfjsa<br/>
                                sasjklfsjfslfjsafa<br/>
                                ssajfklsafjslfsjalskfsdjf
                            </div>
                        </div>
                        <div class="dropdown-menu-content-wrapper">
                            <img src="$cPath/resources/img/index-small-3.jpg">
                        </div>
                    </div>
                </div>
            </li>
            <li class="menu-item" style="height:54px">
                <a href="javascript:void(0)">
                <p style="margin:-10px 0">TAILOR MADE EDUCATION</p>
                <p style="margin:-33px">PACKAGES FOR GROUPS</p></a>
                <div class="dropdown-menu hide">
                    <div class="dropdown-menu-inner-wrapper">
                        <div class="dropdown-menu-content-wrapper" style="width:196px;">
                            <ul>
                                #foreach($plate in $plateRecent3)
			                        <li class="article" data-target="$!plate.getId()"><a href="$cPath/web/en/articles/$plate.getId()">$plate.getTitle()</a></li>
			                    #end
                            </ul>
                        </div>
                        <div class="dropdown-menu-content-wrapper middle">
                            <div class="menu-absract" style="">
                                224323lafslkjflsdsjdfsjaklfsdaljkfsdkfdsakfdsfjsa<br/>
                                sasjklfsjfslfjsafa<br/>
                                ssajfklsafjslfsjalskfsdjf
                            </div>
                        </div>
                        <div class="dropdown-menu-content-wrapper">
                            <img src="$cPath/resources/img/index-small-3.jpg">
                        </div>
                    </div>
                </div>
            </li>
            <li class="menu-item" style="">
                <a href="javascript:void(0)">
                    MY CHOICE HIGH SCHOLL PROGRAMS
                </a>
                <div class="dropdown-menu hide">
                    <div class="dropdown-menu-inner-wrapper">
                        <div class="dropdown-menu-content-wrapper" style="width:196px;">
                            <ul>
                                #foreach($plate in $plateRecent1)
                                    <li class="article" data-target="$!plate.getId()"><a href="$cPath/web/en/articles/$plate.getId()">$plate.getTitle()</a></li>
                                #end
                            </ul>
                        </div>
                        <div class="dropdown-menu-content-wrapper middle">
                            <div class="menu-absract" style="">
                                lafslkjflsdsjdfsjaklfsdaljkfsdkfdsakfdsfjsa<br/>
                                sasjklfsjfslfjsafa<br/>
                                ssajfklsafjslfsjalskfsdjf
                            </div>
                        </div>
                        <div class="dropdown-menu-content-wrapper">
                            <img src="$cPath/resources/img/index-small-3.jpg">
                        </div>
                    </div>
                </div>
            </li>
            <li class="menu-item">
                <a href="javascript:void(0)">AGENTS ZONE</a>
                <div class="dropdown-menu hide">
                    <div class="dropdown-menu-inner-wrapper">
                        <div class="dropdown-menu-content-wrapper" style="width:196px;">
                            <ul>
                                #foreach($plate in $plateRecent4)
			                        <li class="article" data-target="$!plate.getId()"><a href="$cPath/web/en/articles/$plate.getId()">$plate.getTitle()</a></li>
			                    #end
                            </ul>
                        </div>
                        <div class="dropdown-menu-content-wrapper middle">
                            <div class="menu-absract" style="">
                                11231lafslkjflsdsjdfsjaklfsdaljkfsdkfdsakfdsfjsa<br/>
                                sasjklfsjfslfjsafa<br/>
                                ssajfklsafjslfsjalskfsdjf
                            </div>
                        </div>
                        <div class="dropdown-menu-content-wrapper">
                            <img src="$cPath/resources/img/index-small-3.jpg">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div id="main-container">
    $screen_content
</div>
<div id="footer">
    <div style="margin:0 auto;width:960px;">
        <div class="links">
            <div class="column">
                <p class="links-name">Xplore(UK)</br>Suffolk</p>
                <a target="new" href="http://lhsr.sh.gov.cn">12 Bury Street</a>
                <a target="new" href="http://www.bssr.gov.cn/website/index.jsp">Stowmarket</a>
                <a target="new" href="http://www.sshhg.org.cn/sites/hanghui/web/open_page.aspx">Suffolk, IP14 1HA</a>
                <a target="new" href="http://bsq.sh.gov.cn" style="color:transparent">placeholder</a>
                <a target="new" href="http://bsq.sh.gov.cn" style="color:transparent">placeholder</a>

                <p class="links-name">T:+44 (0) 1449742700</p>
            </div>
            <div class="column">
                <p class="links-name">Xplore(UK)</br>Suffolk</p>
                <a target="new" href="http://www.stacaes.com">Theodorstr, 48</a>
                <a target="new" href="">22761, Hamburg</a>
                <a target="new" href="http://bsq.sh.gov.cn">Germany</a>
                <a target="new" href="http://bsq.sh.gov.cn"></a>
                <a target="new" href="http://bsq.sh.gov.cn" style="color:transparent">placeholder</a>
                <a target="new" href="http://bsq.sh.gov.cn" style="color:transparent">placeholder</a>

                <p class="links-name">T:+49 (0) 40 429 336 00</p>
            </div>

        </div>
        <div class="links">
            <div class="column">
                <p class="links-name">Xplore(UK)</br>Suffolk</p>
                <a target="new" href="http://lhsr.sh.gov.cn">One Town, Square Bvld.</a>
                <a target="new" href="http://www.bssr.gov.cn/website/index.jsp">Suite 204,</a>
                <a target="new" href="http://www.sshhg.org.cn/sites/hanghui/web/open_page.aspx">Asheville, NC 28803,</a>
                <a target="new" href="http://www.sshhg.org.cn/sites/hanghui/web/open_page.aspx">United States</a>
                <a target="new" href="http://bsq.sh.gov.cn" style="color:transparent">placeholder</a>

                <p class="links-name">T:+1 (828) 651 8502</p>
            </div>
            <div class="column">
                <p class="links-name">Xplore(UK)</br>Suffolk</p>
                <a target="new" href="http://www.stacaes.com">Room 720, 7th Floor, Tagen</a>
                <a target="new" href="">Chuangye Building, No.7</a>
                <a target="new" href="http://bsq.sh.gov.cn">Shangbao Road, Futian District,</a>
                <a target="new" href="http://bsq.sh.gov.cn">Shenzhen, Guangdong, 518034</a>
                <a target="new" href="http://bsq.sh.gov.cn">China</a>

                <p class="links-name">T:+1 (828) 651 8502</p>
            </div>
        </div>
    </div>
    <div class="copyright">This site and all contents are copyright @ 2014 Xplore</div>
</div>
</body>
<script type="text/javascript" src="$cPath/resources/js/common/jquery.bxslider.min.js"></script>
<script>

    $(document).ready(function () {

        $(".menu .menu-item").hover(function () {
            $(this).find(".dropdown-menu").toggleClass("hide");

        }, function () {

            $(this).find(".dropdown-menu").toggleClass("hide");

        })


    });
</script>
</html>
