<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    #set($cPath = "#cPath")
    <link href="$cPath/resources/css/web.css" rel="stylesheet">
    <script type="text/javascript" src="$cPath/resources/js/common/jquery-1.7.2.min.js"></script>
    <title>xplore</title>
    <link rel="shortcut icon" href="$cPath/resources/img/favicon.ico " type="image/x-icon">

    <script>

        var app = app || {};

        app.cPath = "$cPath";

        app.lan = "$lan";

        window.app = app;

    </script>
</head>
<body>
<style>
    .menu-item{
        width:163px;
    }
</style>
<div id="header">
    <div class="header-top">
        <div class="header-wrapper">
            <a href="$cPath/web/cn"><img src="$cPath/resources/img/logobeijing.png" style="position:absolute;left:90px;top:0;height:117px"></a>
            <div style="position:absolute;right:0;top:20px;">
                <span style="float:left;font-size:12px;color:#838486;margin-top:2px;">选择一种语言</span>
                <a href="$cPath/web/en"><img src="$cPath/resources/img/guojia-UK.jpg" style="margin-left:10px;"></a>
                <a href="$cPath/web/cn"><img src="$cPath/resources/img/guojia-CN.jpg" style="margin-left:10px;"></a>
            </div>
            <div style="position:absolute;right:0;bottom:10px;">
                <span style="float:left;font-size:14px;color:#838486;margin-top:1px;font-weight:700">+86(0)21 6058 7560</span>
                <img src="$cPath/resources/img/SJ4.png" style="margin-left:10px;">
                <img src="$cPath/resources/img/SJ3.png" style="margin-left:10px;">
            </div>

            <a href="$cPath/web/cn"><img src="$cPath/resources/img/logo.png"></a>
        </div>
        <div style="float:left;margin-left:190px;"></div>

        <div class="ads-icon"></div>
    </div>
    <div class="menu">
        <ul class="menu-wrapper">
            <li class="menu-item">
                <a href="javascript:void(0)">常规全年活动</a>
                <div class="dropdown-menu hide">
                        <div class="dropdown-menu-content-wrapper" style="width:196px;">
                            <ul>
                                #foreach($plate in $plateRecent1)
			                        <li class="article" data-target="$!plate.getId()"><a href="$cPath/web/cn/articles/$plate.getId()">$plate.getTitle()</a></li>
			                    #end
                            </ul>
                        </div>
                        <div style="" class="dropdown-menu-right">
                            <div class="menu-absract">
                                Xplore语言营为6至18岁间的学生提供语言，活动和文化项目。”国际性融合”的营队专为全球学生设计，提供加强学习和文化交流的经验，是我们最大特色。
                            </div>
                            <img class="dropdown-menu-img"  src="$cPath/resources/img/H1.jpg">
                        </div>
                </div>
            </li>
            <li class="menu-item">
                <a href="javascript:void(0)">夏令营</a>
                <div class="dropdown-menu hide">
                        <div class="dropdown-menu-content-wrapper" style="width:196px;">
                            <ul>
                                #foreach($plate in $plateRecent2)
			                        <li class="article" data-target="$!plate.getId()"><a href="$cPath/web/cn/articles/$plate.getId()">$plate.getTitle()</a></li>
			                    #end
                            </ul>
                        </div>
                        <div class="dropdown-menu-right">
                            <div class="menu-absract" style="">
                                Xplore语言营为6至18岁间的学生提供语言，活动和文化项目。”国际性融合”的营队专为全球学生设计，提供加强学习和文化交流的经验，是我们最大特色。
                            </div>
                            <img class="dropdown-menu-img" src="$cPath/resources/img/H2.jpg">
                        </div>
                </div>
            </li>
            <li class="menu-item" style="">
                <a href="javascript:void(0)">量身定制</a>

                <div class="dropdown-menu hide">
                        <div class="dropdown-menu-content-wrapper" style="width:196px;">
                            <ul>
                                #foreach($plate in $plateRecent3)
			                        <li class="article" data-target="$!plate.getId()"><a href="$cPath/web/cn/articles/$plate.getId()">$plate.getTitle()</a></li>
			                    #end
                            </ul>
                        </div>
                        <div class="dropdown-menu-right">
                            <div class="menu-absract" style="">
                                Xplore素来为年轻朋友提供弹性的团体旅游服务，并创造机会让年轻朋友去探索，学习和分享。我们利用自身专业知识和经验为客户私人定制行程。无论是寻求教育和文化课程之旅的学校，还是需要多样旅游套装服务的代理，Xolore团队都愿为您提供最好的旅游，文化和学习体验。
                            </div>
                            <img class="dropdown-menu-img" src="$cPath/resources/img/H3.jpg">
                        </div>
                </div>
            </li>
            <li class="menu-item" style="">
                <a href="javascript:void(0)">
                    MY CHOICE 中学
                </a>
                <div class="dropdown-menu hide">
                        <div class="dropdown-menu-content-wrapper" style="width:196px;">
                            <ul>
                                <li class="article" data-target=""><a href="$cPath/web/cn/campus/england">英国</a></li>
                                <li class="article" data-target=""><a href="$cPath/web/cn/campus/america">美国</a></li>
                                <li class="article" data-target=""><a href="$cPath/web/cn/campus/china">中国</a></li>
                                <ul>
                                    #foreach($plate in $plateRecent4)
                                        <li class="article" data-target="$!plate.getId()"><a href="$cPath/web/cn/articles/$plate.getId()">$plate.getTitle()</a></li>
                                    #end
                                </ul>
                            </ul>
                        </div>
                        <div class="dropdown-menu-right">
                            <div class="menu-absract" style="">
                                Xplore“我的选择”为Xplore的高中留学项目，向全球合作伙伴提供为计划到英国和美国（F1）留学的学生的做长期学习安排。Xplore专职监护人团队将提供一流服务，保证学生获得最好的教育和文化学习体验。
                            </div>
                            <img class="dropdown-menu-img" src="$cPath/resources/img/H5.jpg">
                        </div>
                </div>
            </li>
            <li class="menu-item">
                <a href="javascript:void(0)">代理专区</a>
                <div class="dropdown-menu hide">
                        <div class="dropdown-menu-content-wrapper" style="width:196px;">
                            <ul>
                                #foreach($plate in $plateRecent5)
			                        <li class="article" data-target="$!plate.getId()"><a href="$cPath/web/cn/articles/$plate.getId()">$plate.getTitle()</a></li>
			                    #end
                            </ul>
                        </div>
                        <div class="dropdown-menu-right">
                            <div class="menu-absract" style="">
                                Xplore致力于扩展新业务项目，并愿与新的合作伙伴建立良好的业务合作关系。希望透过这份手册让您了解Xplore并与我们联系商讨现有业务或开展新业务。
                            </div>
                            <img class="dropdown-menu-img" src="$cPath/resources/img/H4.jpg">
                        </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div id="main-container">
    $screen_content
</div>
<div id="footer">
    <div style="margin:0 auto;width:960px;">
        <div class="links">
            <div class="column">
                <p class="links-name">Xplore(UK)</br><span style="font-size:12px;">Suffolk</span></p>
                <a target="new" href="javascript:void(0)">12 Bury Street</a>
                <a target="new" href="javascript:void(0)">Stowmarket</a>
                <a target="new" href="javascript:void(0)">Suffolk, IP14 1HA</a>
                <a target="new" href="javascript:void(0)" style="color:#333333 !important;">placeholder</a>
                <a target="new" href="javascript:void(0)" style="color:#333333 !important;">placeholder</a>

                <p class="links-name tel">T:+44 (0) 1449742700</p>
            </div>
            <div class="column">
                <p class="links-name">Xplore(UK)</br><span style="font-size:12px;">Hamburg, Berlin & Cologne</span></p>
                <a target="new" href="javascript:void(0)">Theodorstr, 48</a>
                <a target="new" href="javascript:void(0)">22761, Hamburg</a>
                <a target="new" href="javascript:void(0)">Germany</a>
                <a target="new" href="javascript:void(0)"></a>
                <a target="new" href="javascript:void(0)" style="color:#333333 !important;">placeholder</a>
                <a target="new" href="javascript:void(0)" style="color:#333333 !important;">placeholder</a>

                <p class="links-name tel">T:+49 (0) 40 429 336 00</p>
            </div>

        </div>
        <div class="links">
            <div class="column">
                <p class="links-name">Xplore(UK)</br><span style="font-size:12px;">Asheville, N.Carolina</span></p>
                <a target="new" href="javascript:void(0)">One Town, Square Bvld.</a>
                <a target="new" href="javascript:void(0)">Suite 204,</a>
                <a target="new" href="javascript:void(0)">Asheville, NC 28803,</a>
                <a target="new" href="javascript:void(0)">United States</a>
                <a target="new" href="javascript:void(0)" style="color:#333333 !important;">placeholder</a>

                <p class="links-name tel">T:+1 (828) 651 8502</p>
            </div>
            <div class="column">
                <p class="links-name">Xplore(UK)</br><span style="font-size:12px;">Shenzhen</span></p>
                <a target="new" href="javascript:void(0)">Room 720, 7th Floor, Tagen</a>
                <a target="new" href="javascript:void(0)">Chuangye Building, No.7</a>
                <a target="new" href="javascript:void(0)">Shangbao Road, Futian District,</a>
                <a target="new" href="javascript:void(0)">Shenzhen, Guangdong, 518034</a>
                <a target="new" href="javascript:void(0)">China</a>

                <p class="links-name tel">T:+1 (828) 651 8502</p>
            </div>
        </div>
    </div>
    <div class="copyright">This site and all contents are copyright @ 2014 Xplore</div>
</div>
</body>
<script>

    $(document).ready(function () {

        $(".dropdown-menu").each(function(){

            var height = $(this).height();

            if(height < 139){
                height = 139;
            }

            $(this).find(".dropdown-menu-right").height(height);


        })


        $(".menu .menu-item").hover(function () {

            $(this).css("background","#E5E5E5");

            $(this).find("a:first").css("color","#AA0D37");

            $(this).find(".dropdown-menu").toggleClass("hide");

        }, function () {

            $(this).css("background","#AA0D37");

            $(this).find("a:first").css("color","#E5E5E5");

            $(this).find(".dropdown-menu").toggleClass("hide");

        })

        $(".dropdown-menu .article").hover(function(){

            $(this).css("background","#AA0D37").css("color", "#E5E5E5");

            $(this).find("a").css("color","#FFFFFF");


        },function(){

            $(this).css("background","#E5E5E5").css("color", "#E5E5E5");

            $(this).find("a").css("color","#E5E5E5");


        })


        $(".block-item:last").css("border-bottom","none");

    });
</script>
</html>
