#set($layout="layout/web-default.vm")
#set($cPath = "#cPath")
<style>
    .company-content {
        position: relative;
        height: 600px
    }
</style>
<div class="content" style="width:916px;">
    #parse('web/common/banner.vm')
    <div class="company-intro">
        <div class="dc-detail-header">
            <div class="dc-detail-line"></div>
            <div class="dc-detail-title">联系我们</div>

        </div>
        <div class="company-content" style="background:url(../resources/img/beijing.png)">
            <div class="tel" style="float:left">
                <p style="margin:0;font-size: 24px;color: #D02626;font-weight: 700;margin:0 20px;"><img
                        src="../resources/img/dianhua.png">服务热线：</p>

                <p style="font-size:32px;margin:10px 20px;margin-left:55px"><img src="../resources/img/021.png"></p>
            </div>
            <div class="addr" style="float:right;10px;width:230px;">
                <p style="position:relative;background: #207FDB;color: #FFF;font-size: 16px;padding: 11px 10px 0 15px;margin-bottom:0">
                    公司地址<img src="../resources/img/jinxian.png" style="position:absolute;right:0;bottom:5px"></p>

                <div style="border: 1px solid #207FDB;padding: 0 15px;font-size:14px">
                    <p style="margin:8px 0">上海市宝山区联丰路8号</p>

                    <p style="margin:8px 0">邮编：201999</p>
                </div>
            </div>
            <div class="addr" style="float:right;clear:both;width:230px;">
                <p style="position:relative;background: #207FDB;color: #FFF;font-size: 16px;padding: 11px 10px 0 15px;margin-bottom:0">
                    电子邮箱<img src="../resources/img/jinxian.png" style="position:absolute;right:0;bottom:5px"></p>

                <div style="border: 1px solid #207FDB;padding: 0 15px;font-size:14px">
                    <p>dongchen@18567.cn</p>
                </div>
            </div>
            <div class="addr"  style="padding:23.5px;font-size:18px;float:right;clear:both;width:182px;height:230px;margin-top:15px;border:1px solid #207FDB;">
                <img src="../resources/img/erwweima.png">
                    <div class="fl" style="margin-left:25px;">扫一扫<br/>关&nbsp;&nbsp;注</div>
                    <div class="fr"style="margin-right:25px;color:#207FDB">东&nbsp;&nbsp;晨<br/>微平台</div>
            </div>

        </div>
    </div>
</div>