#set($layout="layout/web-default.vm")
#set($cPath = "#cPath")
<style>
    .index-top {
        height: 367px;
        width: 100%;
        margin-bottom: 10px;
    }

    .index-bottom {
        height: 365px;
        width: 100%;
    }

    .index-top .img-area {
        width: 686px;
        float: left;
        margin-right: 10px;
        position:relative;
    }

    .index-top .intro-area {
        width: 242px;
        border: 1px solid #BABABA;
        float: left;
        padding: 10px;
        background: url($cPath/resources/img/photo4.jpg) no-repeat 0px 0px;
    }

    .block {
        width: 220px;
        float: left;
        margin-right: 10px;
        height: 365px;
    }

    .block:last-child {
        margin-right: 0px;
    }

    .block-title {
        color: #AA0D37;
        border-bottom: 1px solid #666666;
        margin: 0;
        padding: 10px 0;
    }

    .index-bottom .block-title {
        padding: 9.5px 10px;
        color: #C71041;
        border-bottom: 1px solid #C71041;
    }

    .index-bottom .block-item {
        padding: 8px 10px;
        border-bottom: 1px solid #B7B7B7;
        color: #666666;
        margin: 0;
        cursor:pointer;
    }

    .block-bar a .block-item:hover{
        background:#C71041;
        color：#FFFFFF !important;
    }


    .index-bottom .block-img-area {
        height: 177px;
        width: 100%;
        position: relative;
    }
    .index-bottom .block-img-area .overlay{
        position:absolute;
        top:38px;
        bottom:0;
        left:0;
        right:0;
    }
    .index-bottom .block-img-area .overlay .overlay-content{
        background: #111111;
        background: rgba(1,1,1,0.5);
        filter: alpha(opacity=50);
        color:#FFFFFF;
        *zoom:1;
        position:static;
        float:left;
        width:210px;
        height:129px;
        font-size:10px;
        padding:5px;
    }
    .index-bottom .block-img-area .overlay .overlay-content span{
        position:relative;
    }

    .index-bottom .block-img-area.big {
        height: 365px;
        width: 263px;
    }

    .index-bottom .block-img-area .title {
        height: 38px;
        width: 100%;
        position: absolute;
        background: #111111;
        filter: alpha(opacity=50);
        opacity: 0.5
    }

    .index-bottom .block-img-area .name {
        position: absolute;
        top: 5px;
        left: 5px;
        color: #FFFFFF;
        font-size: 12px;
        opacity: 1;
        filter: alpha(opacity=100)
    }
    .bxslider{
        margin:0
    }
    .bx-pager{
        position:absolute;
        bottom:0;
    }
    .bx-pager a{
        float:left;
        width:137px;
        height:53px;
        background: red;
        line-height:53px;
        text-align: center;
        background: #111111;
        background: rgba(1,1,1,0.5);
        filter: alpha(opacity=50);
        color:#FFFFFF;
        *zoom:1;
        position:static;
    }
    .bx-pager a.active{
        background:#C71041;
        filter:alpha(opacity=100);
        *zoom:1;
    }
    .bx-pager a span{
        position:relative;
    }
</style>
<div class="content">

    <div class="index-top">
        <div class="img-area" style="height:366px;">
            <ul class="bxslider">
                <li><img src="$cPath/resources/img/index-1.jpg"></li>
                <li><img src="$cPath/resources/img/index-1.jpg"></li>
                <li><img src="$cPath/resources/img/index-1.jpg"></li>
                <li><img src="$cPath/resources/img/index-1.jpg"></li>
                <li><img src="$cPath/resources/img/index-1.jpg"></li>
            </ul>
            <div class="bx-pager">
                <a data-slide-index="0" href=""><span>234</span></a>
                <a data-slide-index="1" href=""><span>2341</span></a>
                <a data-slide-index="2" href=""><span>2344</span></a>
                <a data-slide-index="3" href=""><span>23425</span></a>
                <a data-slide-index="4" href=""><span>232344</span></a>
            </div>
        </div>
        <div class="intro-area" style="height:344px;">
            <p class="block-title" style="border-bottom:none">I Dear Parents</p>

            <p style="word-wrap:break-word;overflow:hidden;">Welcome to
                Xploarel;kajsldfkjslaksjdsla;fslfsaljfsajklfsakljfsajklsalkjfsafkslafjksl;fdsjaklfkjsafjsal</p>
        </div>
    </div>

    <div class="index-bottom">
        <div class="block block-bar" style="background: #E5E5E5;width:227px;">
            <p class="block-title">Booking Online</p>

            <a href=""><p class="block-item">Booking Online</p></a>

            <a href=""><p class="block-item">Booking Online</p></a>
            <a href=""><p class="block-item">Booking Online</p></a>
            <a href=""><p class="block-item">Booking Online</p></a>

            <p class="block-title" style="margin-top:10px">Booking Online</p>

            <a href=""><p class="block-item">Booking Online</p></a>
            <a href=""><p class="block-item">Booking Online</p></a>
            <a href=""><p class="block-item">Booking Online</p></a>
            <a href=""><p class="block-item">Booking Online</p></a>
        </div>
        <div class="block">
            <div class="block-img-area" style="margin-bottom:10px;">
                <div class="title"></div>
                <span class="name">lasdjfslka</span>
                <img src="$cPath/resources/img/index-small-3.jpg">
                <div class="overlay hide"><div class="overlay-content"><span>2343232423</span></div></div>
            </div>
            <div class="block-img-area" style="margin-bottom:10px;">
                <div class="title"></div>
                <span class="name">lasdjfslka</span>
                <img src="$cPath/resources/img/index-small-3.jpg">
                <div class="overlay hide"><div class="overlay-content"><span>2343232423</span></div></div>
            </div>
        </div>
        <div class="block">
            <div class="block-img-area" style="margin-bottom:10px;">
                <div class="title"></div>
                <span class="name">lasdjfslka</span>
                <img src="$cPath/resources/img/index-small-3.jpg">
                <div class="overlay hide"><div class="overlay-content"><span>2343232423</span></div></div>
            </div>
            <div class="block-img-area" style="margin-bottom:10px;">
                <div class="title"></div>
                <span class="name">lasdjfslka</span>
                <img src="$cPath/resources/img/index-small-3.jpg">
                <div class="overlay hide"><div class="overlay-content"><span>2343232423</span></div></div>
            </div>
        </div>
        <div class="block">
            <div class="block-img-area big">
                <div class="title"></div>
                <span class="name">234242432</span>
                <img src="$cPath/resources/img/index-bottom-right.jpg"></div>
        </div>


    </div>


</div>
<script>

    $(document).ready(function () {

        $('.bxslider').bxSlider({
            pagerCustom: '.bx-pager',
            pager:true,
            controls:false,
            auto:true
        });



        $(".block-img-area").hover(function(){
            $(this).find(".overlay").toggleClass("hide")


        },function(){
            $(this).find(".overlay").toggleClass("hide")
        })

        $(".block-img-area").click(function(){
            window.location.href = window.app.cPath + "/web";
        })


        $(".block-item").hover(function(){
            $(this).css("color", "#FFFFFF")

        },function(){
            $(this).css("color", "#666666")
        })

    });
</script>