#set($layout="layout/web-default.vm")
#set($cPath = "#cPath")
<style>
    .index-top {
        height: 367px;
        width: 100%;
        margin-bottom:10px;
    }

    .index-bottom {
        height: 365px;
        width: 100%;
    }

    .index-top .img-area {
        width: 717.5px;
        float: left;
        margin-right: 10px;
    }

    .index-top .intro-area {
        width: 210px;
        border: 1px solid #BABABA;
        float: left;
        padding: 10px;
    }

    .block {
        width: 232.5px;
        float: left;
        margin-right: 10px;
        height: 365px;
    }

    .block:last-child {
        margin-right: 0px;
    }

    .block-title {
        color: #AA0D37;
        border-bottom: 1px solid #666666;
        margin: 0;
        padding: 10px 0;
    }
    .index-bottom .block-title{
        padding:9.5px 10px;
        color:#C71041;
        border-bottom: 1px solid #C71041;
    }
    .index-bottom .block-item{
        padding:8px 10px 8.5px 10px;
        border-bottom: 1px solid #B7B7B7;
        color:#66666;
        margin:0;
    }
    .index-bottom .block-img-area{
        height:177px;
        width:100%;
        background: red;
    }
    .index-bottom .block-img-area.big{
        height:365px;
    }
    .index-bottom .block-img-area .title{
        height:38px;
        width:100%;
        position:relative;
        background:rgba(1,1,1, 0.5)
    }

    .index-bottom .block-img-area .title .name{
        position:absolute;
        bottom:5px;
        left:5px;
        color:#FFFFFF;
        font-size:12px
    }

</style>
<div class="content">

    <div class="index-top">
        <div class="img-area" style="background:red;height:366px;">123</div>
        <div class="intro-area" style="height:344px;">
            <p class="block-title">I Dear Parents</p>

            <p style="word-wrap:break-word;overflow:hidden;">Welcome to
                Xploarel;kajsldfkjslaksjdsla;fslfsaljfsajklfsakljfsajklsalkjfsafkslafjksl;fdsjaklfkjsafjsal</p>
        </div>
    </div>

    <div class="index-bottom">
        <div class="block" style="background: #E5E5E5">
            <p class="block-title">Booking Online</p>
            <p class="block-item">Booking Online</p>
            <p class="block-item">Booking Online</p>
            <p class="block-item">Booking Online</p>
            <p class="block-item">Booking Online</p>
            <p class="block-title">Booking Online</p>
            <p class="block-item">Booking Online</p>
            <p class="block-item">Booking Online</p>
            <p class="block-item">Booking Online</p>
            <p class="block-item">Booking Online</p>
        </div>
        <div class="block">
            <div class="block-img-area" style="margin-bottom:10px;"><div class="title"><span class="name">lasdjfslka</span></div></div>
            <div class="block-img-area"><div class="title"><span class="name">lasdjfslka</span></div></div>
        </div>
        <div class="block">
            <div class="block-img-area" style="margin-bottom:10px;"><div class="title"><span class="name">lasdjfslka</span></div></div>
            <div class="block-img-area"><div class="title"><span class="name">lasdjfslka</span></div></div>
        </div>
        <div class="block">
            <div class="block-img-area big"><div class="title"><span class="name">lasdjfslka</span></div></div>
        </div>


    </div>


</div>
