#set($layout="layout/web-default.vm")
#set($cPath = "#cPath")
<div class="content">
    #parse('web/common/banner.vm')
    <div class="company-intro">
        <div class="dc-detail-header">
            <div class="dc-detail-line"></div>
            <div class="dc-detail-title">公司概况</div>

        </div>
        <div class="company-content" style="font-size:14px;">
            <img src="../resources/img/gaikuang.png">
            &nbsp;&nbsp;&nbsp;&nbsp;上海东晨市容清洁服务有限公司，是一家从事道路、广场机械清扫和人工保洁的专业队伍，成立于1999年3月，隶属于宝山区绿化和市容管理局。公司是上海市文明单位、市容环境卫生协会会员，拥有上海市市容环卫经营性服务许可证和上海市陆域环境作业养护企业贰级资质，认证通过质量、环境、职业健康安全“三标一体”管理体系。主要负责宝山区中心城区和外围5个乡镇（街道）的191条道路，共506万平方米保洁任务及F1国际赛车场、宝钢一钢公司等道路的清扫保洁。
            <br/><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;公司总部位于上海市宝山区联丰路8号，注册资金1000万元，拥有各类保洁车辆39台，各种小型保洁机械设备110台。公司现有职工860名，总经理室下设行政部、生产管理部和市场拓展部3个职能部门及2个车队、1个机修车间和5个人工清道作业区。近年来，公司通过取缔沿路拉臂箱，实行上门收集，开展“垃圾不落地”等一系列活动，减少了道路二次污染，大幅提升市容环境面貌。2007年在全市首创了道路“组团式保洁法”，实现了道路保洁作业方式由粗到细的转变，得到了行业内的高度认可和推广。2010年公司通过市场化竞争成功参与了世博园区保洁，出色完成了世博园C片区环境保障工作。
            <br/><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;公司荣获“全国职工职业道德建设优秀单位”、“上海市职业道德十佳标兵单位”、“上海市重点工程实事立功竞赛优秀公司”、“上海世博工作优秀集体”、世博先锋一线行动“五好”基层党组织、“上海市十佳道路保洁企业”、“宝山区五一劳动奖状”、公司总经理陈霖同志荣获“2007年度全国建设系统劳动模范”、“2010年全国劳动模范”称号。下属班组荣获“全国巾帼文明岗”，“全国三八红旗集体”、“全国五一巾帼标兵岗”、“全国职工模范小家”、“全国学习型班组”，多次被评为“市级红旗班组”、“市劳模班组”等。
        </div>
    </div>


</div>
