#set($layout="layout/web-default.vm")
#set($cPath = "#cPath")
<style>
    .dc-detail-header {
        padding: 0 45px
    }

    .dc-detail-title {
        left: 67px
    }

    .dc-detail-line {
        left: 45px
    }

    .list-content .qq img {
        margin-right: 43px;
    }

    #suggestionSubmit{
        font-size:16px;
    }

    #suggestionSubmit label{
        margin-right:50px;
        width:64px;
        float:left;
    }

    #suggestionSubmit input{
        width:240px;
        height:20px;
    }

    #suggestionSubmit textarea{
        width:238px;
    }
</style>
<div class="content">
    #parse('web/common/banner.vm')
    <div class="list-area">
        <div class="dc-detail-header">
            <div class="dc-detail-line"></div>
            <div class="dc-detail-title">在线咨询</div>
        </div>
        <div class="list-content">
            <div class="qq" style="padding:40px 0px 40px 63px;border-bottom:1px solid #DEDEDE">

                <img src="../resources/img/tubiao1.png">
               <img style="CURSOR: pointer" SRC="../resources/img/QQ1.png" alt="服务号QQ">
                <img  style="CURSOR: pointer;margin-right:0"   border="0" SRC="../resources/img/QQ2.png" alt="服务号QQ">

            </div>
            <div style="padding:40px 0px 40px 63px;">
                <img src="../resources/img/tubiao2.png" style="float:left;">

                <div style="float:left;margin-left:43px;">

                    <form action="suggestion" method="post" id="suggestionSubmit">

                        <p>
                            <label>姓名</label><input type="text" name="name">
                        </p>
                        <p>
                            <label>联系电话</label><input type="text" name="mobile">
                        </p>
                        <p>
                            <label>联系地址</label><input type="text" name="address">
                        </p>
                        <p>
                            <label>电子邮箱</label><input type="text" name="email">
                        </p>
                        <p>
                            <label>留言标题</label><input type="text" name="title">
                        </p>
                        <p>
                            <label>留言内容</label><textarea type="text" name="content" style="height:180px"></textarea>
                        </p>

                        <p style="padding-left: 112px">
                            <button id="suggestionButton" style="border:none;background:url(../resources/img/tijiao.png);width:71px;height:27px;"></button>
                            <button class="reset" style="border:none;background:url(../resources/img/reset.png);width:71px;height:27px;"></button>
                        </p>

                    </form>


                </div>
            </div>

        </div>
    </div>
    #parse('web/common/sidebar.vm')
</div>
