<div id="content-header">
    <h1>$currentResource.getName()</h1>
</div>
<style>

</style>
<div id="operation-container">

    <a href="./list"><span class="oper-btn add">返回列表页</span></a>

</div>

<div id="content-container">
    <form action="edit" enctype="multipart/form-data" method="post">
        <p>中文摘要</p>
        <input type="text" placeholder="中文摘要" name="briefChinese" style="width:98%" value="$!domain.getBriefChinese()">
        <p>英文摘要</p>
        <input type="text" placeholder="英文摘要" name="briefEnglish" style="width:98%" value="$!domain.getBriefEnglish()">
        <p>权重</p>
        <input type="text" placeholder="权重" name="weight" value="$!domain.getWeight()">
        <p>所属菜单</p>
        <select name="plateId">
            <option value=""></option>
            #foreach($a in $menuList)
                #if("$a.getId()" == "$!domain.getPlateId()")
                    <option selected="selected" value="$a.getId()">$a.getCnName() : $a.getEnName()</option>
                #else
                    <option value="$a.getId()">$a.getCnName() : $a.getEnName()</option>
                #end
            #end
        </select>
        <p>上传大图</p>
        <input type="hidden"  name="bigImg" value="$!domain.getBigImg()">
        <p><input type="file" name="upload_bigImg" />
            <img src="$!domain.getBigImg()" style="max-width:20%;max-height:20%;">
        </p>

        <p>上传小图</p>
        <input type="hidden"  name="smallImg" value="$!domain.getSmallImg()">
        <p><input type="file" name="upload_smallImg" />
            <img src="$!domain.getSmallImg()" style="max-width:20%;max-height:20%;">
        </p>
        <input type="hidden"  name="id" value="$!domain.getId()">
        <button class="submit-bottom">提交</button>

    </form>

</div>
#parse('layout/script.vm')
<script type="text/javascript" src="$cPath/resources/js/admin.js"></script>