<div id="content-header">
    <h1>$currentResource.getName()</h1>
</div>
<style>

</style>
<div id="operation-container">

    <a href="./list"><span class="oper-btn add">返回列表页</span></a>

</div>

<div id="content-container">

    <form action="add" method="post">
        <p>标题</p>
        <input type="text" placeholder="标题" name="title">
        <p>摘要</p>
        <input type="text" placeholder="标题" name="brief" style="width:98%">
        <p>权重</p>
        <input type="text" placeholder="权重" name="weight">
        <p>所属菜单</p>
        <select name="plateId">
            #foreach($a in $menuList)
                <option value="$a.getId()">
                    $a.getCnName() : $a.getEnName()
                </option>
            #end
        </select>
        <p>正文</p>
        <!-- 加载编辑器的容器 -->
        <script id="container" name="content" type="text/plain">
        在这里输入内容


        </script>
        <button class="submit-bottom">提交</button>

    </form>

</div>
#parse('layout/script.vm')
<script type="text/javascript" src="$cPath/resources/js/admin.js"></script>
<!-- 配置文件 -->
<script type="text/javascript" src="../../resources/ueeditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="../../resources/ueeditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container');

</script>
