#set($layout="layout/web-default.vm")
#set($cPath = "#cPath")
<style>
    .detail{
        border:transparent;
    }

</style>
<div class="content cn">
    <div class="campus detail">
        <div class="banner" style="background-image:url($cPath/resources/img/T-${country}.png);">
            <span style="margin-right:10px;">$countryName</span>
            <img src="$cPath/resources/img/${country}.png" style="position:absolute;left:-14px;bottom:-30px;">
        </div>
        <div class="banner-img" style="margin-top:4px;">
            <img src="$cPath/resources/img/tu2.jpg">
        </div>
        <div class="campus-detail-area list" style="">
            #set($fileName = $country + ".vm")
            #parse("/layout/country/$fileName")
        </div>
        #parse("/layout/country.vm")
    </div>
    <div class="block block-bar" style="float:left;background: #E5E5E5;width:227px;">
        #parse("/layout/sidebarCN.vm")
    </div>


</div>
<script>

    $(document).ready(function () {
        #if($country != "england")
            $(".campus-list:even").css("margin-right","15px");
        #end
    });
</script>