#set($cPath = "#cPath")
<style>
    #divSCA, #divShow{
        margin-left:-240px;
        padding:25px !important;
    }
    #divSCA .btn-oper.cancel, #divShow .btn-oper{
        position: absolute;
        right: 0;
        top: 0;
        padding: 0px 10px;
        margin: 0;
        font-size: 20px;
        border-radius: 0;
        border: none;
    }
    #divSCA .btn-oper.submit-campus{
        padding: 5px 40px;
        font-size: 16px;
        position: absolute;
        bottom: 20px;
        left: 50%;
        width: 200px;
        margin-left: -100px;
    }
    select{
        width:340px;
        height:35px;
        padding:4px 8px;
    }
</style>
<div id="content-header">
    <h1>$currentResource.getName()</h1>
</div>

<div id="operation-container">

    <a href="javascript:openAddDiv()"><span class="oper-btn add">新增$currentPerm.getName()</span></a>

</div>

<div id="content-container">

    <table class="pt-table">
        <thead>
        <tr>
            <th>编号</th>
            <th>名称</th>
            <th>国家</th>
            <th>权重</th>
            <th>Profile</th>
            <th>Facts</th>
            <th>Curriculum</th>
            <th>图片</th>
            <th>日期</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            #foreach($domain in $domainList.getResult())
            <tr class="domain-$velocityCount">
                <td class="domain-id">$!domain.getId()</td>
                <td class="domain-title">$!domain.getTitle()</td>
                <td class="domain-countryId" countryId="$!domain.getCountryId()">$!domain.getCountryName()</td>
                <td class="domain-weight">$!domain.getWeight()</td>
                <td>
                    #if(!$!domain.getProfile() || $!domain.getProfile().length() == 0)
                        <span style="color:#ff0000">空</span>
                    #else
                        <a href='javascript:void(0)' class="btn btn-oper show" data-ref="profile">显示<i class="fa fa-chevron-right"></i></a>
                        <div class="hide profile">$!domain.getProfile()</div>
                    #end
                    &nbsp;&nbsp;
                    <a href="$cPath/admin/$currentResource.getUri()/edit?id=$domain.getId()&type=profile" class="btn btn-oper edit"">编辑<i
                            class="fa fa-chevron-right"></i></a>
                </td>
                <td>
                    #if(!$!domain.getFacts() || $!domain.getFacts().length() == 0)
                        <span style="color:#ff0000">空</span>
                    #else
                        <a href='javascript:void(0)' class="btn btn-oper show" data-ref="facts">显示<i
                            class="fa fa-chevron-right"></i></a>
                        <div class="hide facts">$!domain.getFacts()</div>
                    #end
                    &nbsp;&nbsp;
                    <a href="$cPath/admin/$currentResource.getUri()/edit?id=$domain.getId()&type=facts" class="btn btn-oper edit"">编辑<i
                        class="fa fa-chevron-right"></i></a>
                </td>
                <td>
                    #if(!$!domain.getCurriculum() || $domain.getCurriculum().length() == 0)
                        <span style="color:#ff0000">空</span>
                    #else
                        <a href='javascript:void(0)' class="btn btn-oper show" data-ref="curriculum">显示<i
                            class="fa fa-chevron-right"></i></a>
                        <div class="hide curriculum">$!domain.getCurriculum()</div>
                    #end
                    &nbsp;&nbsp;
                    <a href="$cPath/admin/$currentResource.getUri()/edit?id=$domain.getId()&type=curriculum" class="btn btn-oper edit"">编辑<i
                        class="fa fa-chevron-right"></i></a>
                </td>
                <td class="domain-img" ><a target="_blank" style="color:#111111;text-decoration: underline;" href="$!domain.getImg()">$!domain.getImg()</td>
                <td>$!domain.getCreateTime()</td>
                <td>
                    <a href="javascript:openDiv($!domain.getId(), $velocityCount)" class="btn btn-oper edit">编辑<i
                            class="fa fa-chevron-right"></i></a>
                    <a href="javascript:;" class="btn btn-oper del" data-model="$currentResource.getUri()" data-ref="$domain.getId()">删除<i
                            class="fa fa-chevron-right"></i></a>
                </td>
            </tr>
            #end

        </tbody>
    </table>

    <div class="pagination"></div>
</div>
<div id="divSCA" class="">
    <form action="$cPath/admin/$currentResource.getUri()/list" enctype="multipart/form-data"  method="post">
        <p>名称</p>
        <input type="text" placeholder="名称" name="title" value="">
        <p>权重</p>
        <input type="text" placeholder="权重" name="weight" value="">
        <p>国家</p>
        <select name="countryId" >
            #foreach($a in $countryList)
                <option value="$a.getCountryId()">$a.display("en") : $a.display("cn")</option>
            #end
        </select>
        <p>上传图片</p>
        <input type="hidden"  name="img" value="">
        <p><input type="file" name="upload_img" />
            <img name="img" src="" style="max-width:20%;max-height:20%;">
        </p>

        <input type="hidden" name="id" id="domainId">

        <div style="margin-top:100px">
            <a class="btn btn-oper cancel" href="javascript:closeDiv()">X</a>
            <button class="btn btn-oper submit-campus">提交</button>
        </div>
    </form>
</div>
<div id="divShow">
    <p id="showContent">

    </p>
    <a class="btn btn-oper" href="javascript:closeShowDiv()">X</a>
</div>

#parse('layout/script.vm')

<script type="text/javascript" src="$cPath/resources/js/admin.js"></script>
<script>
    $(document).ready(function () {

        #if($domainList.getTotalPages() > 0)

        $('.pagination').twbsPagination({
            totalPages: $domainList.getTotalPages(),
            visiblePages: 7,
            startPage : $domainList.getPageNo(),
            hrefVariable : "{{number}}",
            href: window.app.cPath + "/$currentResource.getUri()" +"?p={{number}}",
            onPageClick: function (event, page) {
            }
        });
        #end
    });

    $(".btn-oper.show").click(function(){
        var field = "." + $(this).attr("data-ref");
        var html = $(this).parent().find(field).html();
        $("#showContent").html(html);
        $("#divShow").OpenDiv();
    });


    function openDiv(id, count) {
        $("#domainId").val(id);

        $("input[name='title']").val($(".domain-"+count).find(".domain-title").html());
        $("input[name='weight']").val($(".domain-"+count).find(".domain-weight").html());
        $("select[name='countryId']").val($(".domain-"+count).find(".domain-countryId").attr("countryId"));
        $("input[name='img']").val($(".domain-"+count).find(".domain-img").find("a").html());
        $("img[name='img']").attr("src", $(".domain-"+count).find(".domain-img").find("a").html());
        $("#divSCA").OpenDiv();
    }

    function openAddDiv(){

        $("#domainId").val("");
        $("input[name='title']").val("");
        $("input[name='weight']").val("");
        $("select[name='countryId']").val("");
        $("input[name='img']").val("");
        $("img[name='img']").attr("src", "");

        $("#divSCA").OpenDiv();
    }

    function showDiv(content) {
        $("#showContent").html(encode(content));
        $("#divShow").OpenDiv();
    }

    function closeDiv() {
        $("#divSCA").CloseDiv();
    }

    function closeShowDiv(){
        $("#divShow").CloseDiv();
    }

</script>
<style>
    #divSCA,#divShow
    {
        position: absolute;
        width: 700px;
        height: 500px;
        font-size: 12px;
        background: #fff;
        border: 0px solid #000;
        padding: 10px;
        z-index: 10001;
        display: none;
    }
</style>